body {
  --color-grey-6: #0D0D11;
  --color-grey-5: #14141F;
  --color-grey-4: #1C1C28;
  --color-grey-3: #343444;
  --color-grey-2: #555770;
  --color-grey-1: #8A8AA0;
  --color-grey-0: #FAFAFC;
  --color-white: #FFFFFF;
  --color-grey-7: #EBEBEB;
  --color-btn-primary: #5142FC;
  --color-btn-hover: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
  --color-error: #F94800;
  --transition-hover: color .3s, background-color .3s, outline .3s;
  --screen-width: 1920px;
  --min-screen-width: 1920px;
  font-family: "Urbanist", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background-color: var(--color-grey-6);
  color: var(--color-grey);
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  gap: 31px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--color-grey-0);
  list-style-type: none;
}
.breadcrumb__item {
  position: relative;
}
.breadcrumb__item::before {
  position: absolute;
  content: "/";
  top: 0;
  left: -15px;
  color: var(--color-grey-1);
}
.breadcrumb__item:first-child::before {
  display: none;
}
.breadcrumb__link {
  color: var(--color-grey-1);
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  word-break: break-word;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: var(--color-grey-0);
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  gap: 36px;
}
.btn--primary {
  gap: 6px;
  padding: 14px 24px;
  outline-width: 1px;
  outline-color: var(--color-btn-primary);
  outline-style: solid;
  outline-offset: 0px;
  border-radius: 30px;
}
.btn--primary:hover {
  outline-width: 0;
  background-color: var(--color-btn-hover);
}
.btn--primary svg {
  width: 18px;
  height: 18px;
}
.btn--secondary {
  gap: 6px;
  padding: 14px 24px;
  outline-width: 1px;
  outline-color: var(--color-white);
  outline-style: solid;
  outline-offset: 0px;
  color: var(--color-grey-0);
  border-radius: 30px;
}
.btn--secondary:hover {
  outline-width: 0;
  background-color: var(--color-white);
  color: var(--color-grey-3);
}
.btn--secondary svg {
  width: 18px;
  height: 18px;
  fill: var(--color-grey-3);
}
.btn--big {
  gap: 10px;
  padding: 16px 36px;
  outline-width: 2px;
}
.btn--big svg {
  width: 24px;
  height: 24px;
}
.btn--full {
  width: 100%;
}
.btn--social {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: var(--color-grey-3);
}
.btn--like {
  height: 36px;
  padding: 6px 12px 6px 8px;
  gap: 10px;
  background-color: var(--color-grey-3);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-white);
  border-radius: 8px;
}

.checkbox {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.checkbox__inner {
  display: flex;
  gap: 8px;
}
.checkbox__box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-grey-3);
}
.checkbox__box:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/icons/checkbox-arrow.svg");
  background-position: center;
  background-size: 8px 6px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.checkbox__text {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-white);
}

.contact {
  width: 100%;
  background-color: var(--color-grey-5);
}
.contact__wrapper {
  display: flex;
  gap: 150px;
}
.contact__block {
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
  text-transform: capitalize;
}
.contact__subtitle {
  line-height: 25.2px;
  color: #EBEBEB;
  text-transform: capitalize;
}

.container {
  width: 100%;
  padding: 0 255px;
  max-width: var(--screen-width);
  margin: 0 auto;
  min-width: var(--min-screen-width);
}
.container--mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.employers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employers__image {
  position: relative;
  width: 100px;
  height: 100px;
}
.employers__image img {
  border-radius: 20px;
}
.employers__item {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  gap: 17px;
}
.employers__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  bottom: 0;
  right: 0;
  background-color: var(--color-btn-primary);
  border-radius: 8px;
}
.employers__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
}
.employers__name {
  margin: 0;
  max-width: 96.5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: var(--color-white);
}
.employers__description {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-grey-7);
}
.employers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
}

.footer {
  display: flex;
  color: var(--color-white);
  gap: 144.75px;
  padding-top: 80px;
  padding-bottom: 82px;
}
.footer__description {
  margin: 14px 0 24px 0;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-line;
}

.footer-navigation {
  display: flex;
  gap: 144.75px;
}
.footer-navigation__title {
  margin: 0 0 24px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.footer-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  line-height: 22.4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-navigation__link {
  color: var(--color-white);
  text-decoration: none;
}
.footer-navigation__link:hover {
  text-decoration: underline;
}

.form-control {
  width: 100%;
}

.form-search {
  line-height: 2em;
  border-radius: 1em;
  float: right;
  margin: 0.5em 0.5em 0.5em auto;
  overflow: hidden;
  display: flex;
  transition: all 1s linear;
}
.form-search:focus-within {
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.5);
}
.form-search__label, .form-search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  width: 46px;
  height: 46px;
  overflow: hidden;
  transition: width 1s step-end;
  background-color: var(--color-grey-6);
  border-radius: 50%;
}
.form-search__label:hover, .form-search__btn:hover {
  outline: 1px solid var(--color-btn-primary);
}
.form-search__input, .form-search__btn {
  border: none;
  width: 0;
  padding: 0;
  background: transparent;
  outline: none;
}
.form-search__input {
  transition: width 1s linear;
}
.form-search__input:focus {
  width: 13em;
  padding-right: 0.25em;
}
.form-search:focus-within .form-search__input {
  width: 13em;
}
.form-search__btn {
  width: 0;
  font: inherit;
}
.form-search__input:focus ~ .form-search__btn {
  width: 2em;
}
.form-search__input:focus ~ .form-search__label {
  width: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 125.5px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-actions {
  display: flex;
  gap: 24px;
}

.header-navigation__list {
  display: flex;
  gap: 14.6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-navigation__item {
  position: relative;
}
.header-navigation__link {
  text-decoration: none;
  color: var(--color-grey-0);
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  gap: 6px;
  padding: 8px 10px 8px 12px;
  background-color: var(--color-grey-6);
  border-radius: 6px;
}
.header-navigation__link:hover {
  background-color: var(--color-grey-3);
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(28, 24, 24, 0.25);
}
.header-navigation__sublist {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-navigation__subitem {
  padding: 18px 26px 19px 18px;
  border-bottom: 1px solid var(--color-grey-2);
  text-align: right;
  white-space: nowrap;
  background-color: var(--color-grey-3);
}
.header-navigation__subitem:last-child {
  border-bottom: 0;
  border-radius: 0 0 6px 6px;
}
.header-navigation__subitem:hover {
  background-color: var(--color-btn-primary);
}
.header-navigation__sublink {
  text-decoration: none;
  color: var(--color-grey-0);
}

.hidden {
  position: absolute;
  visibility: hidden;
  top: -9999px;
  left: -9999px;
}

.input {
  width: 100%;
  padding: 13px 20px;
  border-radius: 8px;
  background-color: var(--color-grey-5);
  outline: 1px solid var(--color-grey-3);
  border: none;
}
.input::-moz-placeholder {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-grey-1);
}
.input::placeholder {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-grey-1);
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-grey-5);
  z-index: 10;
}
.intro:before {
  background-image: url(../../images/content/bg-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
}
.intro__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
  text-align: center;
}
.intro__wrapper {
  z-index: 10;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-grey-5);
}
.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.login__link {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
}
.login__link:hover {
  text-decoration: underline;
}
.login__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
  text-align: center;
}
.login__subtitle {
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 25.2px;
  color: var(--color-grey-1);
  text-align: center;
  text-transform: capitalize;
}
.login__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25%;
  height: 1px;
  background-color: var(--color-grey-3);
}
.login__subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 25%;
  height: 1px;
  background-color: var(--color-grey-3);
}

.main {
  display: flex;
  flex-direction: column;
}

.picks__block {
  flex-grow: 1;
}
.picks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picks__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-3);
}
.picks__image {
  position: relative;
  max-width: 297px;
  max-height: 290px;
  border-radius: 8px;
}
.picks__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey-4);
  padding: 20px;
  border-radius: 20px;
}
.picks__likes {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px 8px 8px;
  border-radius: 8px;
  background-color: rgba(28, 28, 40, 0.8);
}
.picks__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.picks__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-grey-6);
  border-radius: 8px;
}
.picks__marks {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-white);
}
.picks__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: var(--color-grey-7);
}
.picks__price {
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-btn-primary);
}
.picks__quote {
  max-width: 297px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.picks__time {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px 8px 8px;
  border-radius: 8px;
  background-color: rgba(28, 28, 40, 0.8);
}
.picks__type {
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-grey-1);
}
.picks__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
}

.places {
  width: 100%;
  background-color: var(--color-grey-5);
}
.places__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.places__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--color-white);
}
.places__collage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.places__footer {
  display: flex;
  justify-content: space-between;
}
.places__item {
  max-width: 450px;
  background-color: var(--color-grey-4);
  padding: 20px;
  border-radius: 10px;
}
.places__img {
  display: grid;
  grid-column: span 3;
  border-radius: 8px;
}
.places__img--square {
  grid-column: span 2;
}
.places__info {
  display: grid;
  grid-template-columns: 64px 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.places__list {
  display: flex;
  gap: 30px;
}
.places__logo {
  display: flex;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: var(--color-grey-6);
  border-radius: 8px;
}
.places__name {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
}
.places__time {
  margin: 0;
  font-size: 14px;
  line-height: 22.4px;
  color: var(--color-grey-1);
}
.places__time time {
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: 0.1em;
  color: var(--color-grey-7);
}

.select {
  background-color: var(--color-grey-5);
  outline: 1px solid var(--color-grey-3);
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--color-grey-1);
}
.select:hover {
  background-color: var(--color-grey-4);
}

.social {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subscribe__label {
  display: block;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.subscribe__wrapper {
  display: flex;
  width: 296px;
  outline: 1px solid var(--color-grey-3);
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.subscribe__btn {
  flex-shrink: 0;
  border: 0;
  outline: 0;
  width: 56px;
  height: 54px;
  background-color: var(--color-btn-primary);
  border-radius: 0 11px 11px 0;
}
.subscribe__input {
  flex-grow: 1;
  border: 0;
  outline: 0;
  padding: 18px;
  background-color: var(--color-grey-6);
  color: var(--color-grey-0);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.subscribe__input::-moz-placeholder {
  color: var(--color-grey-1);
}
.subscribe__input::placeholder {
  color: var(--color-grey-1);
}
.subscribe__input:hover {
  background-color: var(--color-grey-3);
}

.title {
  text-transform: uppercase;
  word-break: break-word;
}
